
<div class="container register-form">
  <div class="form">
    <div class="note">
      <p>User Update</p>
    </div>
    <form [formGroup]="userEdit" (ngSubmit)="uploadSubmit()">
      <div class="form-content">


        <div class="active">
          <div class="row">
            <div class="form-group">
              <label class="form-control">Status</label>
              
            </div>
          </div>
        </div>

        <br>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control"
                formControlName="firstName"
                placeholder="First Name" [ngClass]="{ 'is-invalid':
                submitted && controlerData.firstName.errors }" />
              <div *ngIf="submitted && controlerData.firstName.errors"
                class="invalid-feedback">
                <div *ngIf="controlerData.firstName.errors.required">First Name
                  is required</div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control"
                formControlName="lastName"
                placeholder="Last Name" [ngClass]="{ 'is-invalid':
                submitted && controlerData.lastName.errors }" />
              <div *ngIf="submitted && controlerData.lastName.errors"
                class="invalid-feedback">
                <div *ngIf="controlerData.lastName.errors.required">Last Name is
                  required</div>
              </div>
            </div>

          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control"
                formControlName="email"
                placeholder="Email" [ngClass]="{ 'is-invalid':
                submitted && controlerData.email.errors }" />
              <div *ngIf="submitted && controlerData.email.errors"
                class="invalid-feedback">
                <div *ngIf="controlerData.email.errors.required">Email is
                  required</div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control"
                formControlName="idCard"
                placeholder="Id Card" [ngClass]="{ 'is-invalid':
                submitted && controlerData.idCard.errors }" />
              <div *ngIf="submitted && controlerData.idCard.errors"
                class="invalid-feedback">
                <div *ngIf="controlerData.idCard.errors.required">Id Card is
                  required</div>
              </div>
            </div>

          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <input type="date" class="form-control" formControlName="birthDay"
              [ngClass]="{ 'is-invalid': submitted &&
              controlerData.birthDay.errors }" />
            <div *ngIf="submitted && controlerData.birthDay.errors"
              class="invalid-feedback">
              <div *ngIf="controlerData.birthDay.errors.required">Birth Day is
                required</div>
            </div>
          </div>
          <div class="col-md-6">
            <select class="form-control" formControlName="gender"
              (change)="removeDefualtValue()" #data [ngClass]="{ 'is-invalid':
              submitted && controlerData.gender.errors }">

              <option *ngFor="let data of gender">{{data}}</option>
            </select> <div *ngIf="submitted && controlerData.gender.errors"
              class="invalid-feedback">
              <div *ngIf="controlerData.gender.errors.required">Select Gender
                Type</div>
            </div>

          </div>
        </div>


        <br>
        <hr class="sidebar-divider my-0">

        <label>Address</label>

        <div class="row">
          <div class="col-md-4">
            <input type="text" class="form-control form-control-user"
              formControlName="no" placeholder="No" [ngClass]="{ 'is-invalid':
              submitted && controlerData.no.errors }" />
            <div *ngIf="submitted && controlerData.no.errors"
              class="invalid-feedback">
              <div *ngIf="controlerData.no.errors.required">Address is required</div>
            </div>
          </div>


          <div class="col-md-4">
            <input type="text" class="form-control form-control-user"
              formControlName="lane" placeholder="Lane" [ngClass]="{
              'is-invalid': submitted && controlerData.lane.errors }" />
            <div *ngIf="submitted && controlerData.lane.errors"
              class="invalid-feedback">
              <div *ngIf="controlerData.lane.errors.required">Address Lane is
                required</div>
            </div>
          </div>


          <div class="col-md-4">
            <input type="text" class="form-control form-control-user"
              formControlName="city" placeholder="City" [ngClass]="{
              'is-invalid': submitted && controlerData.city.errors }" />
            <div *ngIf="submitted && controlerData.city.errors"
              class="invalid-feedback">
              <div *ngIf="controlerData.city.errors.required">Address City is
                required</div>
            </div>
          </div>
        </div>

        <br>
        <hr class="sidebar-divider my-0">

        <label>Contact Numbers</label>


        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user"
              formControlName="telephone1" placeholder="Mobile Number"
              [ngClass]="{ 'is-invalid': submitted &&
              controlerData.telephone1.errors }" />
            <div *ngIf="submitted && controlerData.telephone1.errors"
              class="invalid-feedback">
              <div *ngIf="controlerData.telephone1.errors.required">Mobile
                Number is required</div>
            </div>
          </div>

          <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user"
              formControlName="telephone2" placeholder="Land Number"
              [ngClass]="{ 'is-invalid': submitted &&
              controlerData.telephone2.errors }" />
            <div *ngIf="submitted && controlerData.telephone2.errors"
              class="invalid-feedback">
              <div *ngIf="controlerData.telephone2.errors.required">Land Number
                is required</div>
            </div>
          </div>
        </div>

        <div class="row" hidden>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" #data
                formControlName="username"
                />

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" #data
                formControlName="password"
                />

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" #data
                formControlName="joinedDate"
                />

            </div>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-md-12">
            <button type="submit" class="btnSubmit">Update</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
